<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>Danh sách hình thức xử lý</h3>

        <div>
            <ul th:if="${dsHinhThuc != null}">
                <li th:each="ht : ${dsHinhThuc}">
                    <label th:text="${ht.id}"></label>, <label th:text="${ht.hinhthuc}"></label>, <label th:text="${ht.songay_ban}"></label>
                </li>

            </ul>
        </div>

    </div>
</body>
</html>