<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Danh sách thiết bị</h1>
<div th:each="tb : ${dsThietBi}">
    <p th:text="${tb.id}"></p> - <p th:text="${tb.ten}"></p> - <p th:text="${tb.mota}"></p> - <p th:text="${tb.loai_thietbi.ten}"></p>
    <hr>
</div>
</body>
</html>