<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/layout.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/thanhvien/all}">Danh sách thành viên</a></li>
            <li><a th:href="@{/thietbi/all}">Danh sách thiết bị</a></li>
        </ul>
    </nav>

    <div th:if="${dsThanhVien != null}">
        <div th:replace="~{thanhvien/thanhvien-layout :: content}">

        </div>
    </div>

    <div th:if="${dsThietBi != null}">
        <div th:replace="~{thietbi/thietbi-layout :: content}">

        </div>
    </div>


    <script src="/js/navigator-thietbiLayout.js"></script>
</body>
</html>