<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
<div class="text-center p-4 bg-primary text-white text-center mb-3">
    <h1>Trả thiết bị</h1>
</div>
<div class="container d-flex justify-content-center">
    <div class="form-section">
        <input class="form-control"
               type="text"
               placeholder="Nhập mã thiết bị"
               id="return-input"
        >

        <div class="d-flex justify-content-center my-3">

            <input id="return-btn" class="btn btn-primary" type="submit" value="Trả thiết bị">
        </div>
    </div>

    <div class="message"></div>
</div>



<script>
    $(document).ready(function (){
        $('#return-btn').click(function() {
            var tbId = $('#return-input').val();
            $.ajax({
                url: '/ttsd/return',
                type: 'POST',
                data: {
                    TbId: tbId
                },
                success: function (response) {

                    let html = '<div>';
                    html += '<p>' + response.message + '</p>';

                    if(response.status === 'success') {
                        html += '<p>' + response.info + '</p>';
                    }

                    $('.message').html(html);
                },
                error: function (response) {
                    console.log(response);
                }
            });
        });
    });
</script>
</body>
</html>