<div th:fragment="component">

    <h2>Thông tin cá nhân</h2>

    <div>
        Mã số sinh viên:
        <span th:text="${session.thanhvien.id}"></span><br>

        Tên:
        <span type="text"
              placeholder="Nhập tên"
              th:text="${session.thanhvien.ten}"></span>
        <br>

        Số địn Thọi:
        <span type="text"
              placeholder="Nhập tên"
              th:text="${session.thanhvien.id}"
        ></span><br>

        Email:
        <span type="text"
              th:text="${session.thanhvien.email}"
        ></span><br>

        Khoa:
        <span th:text="${session.thanhvien.tenKhoa}"></span><br>

        Ngành:
        <span th:text="${session.thanhvien.tenNganh}"></span><br>

    </div>

    <div th:if="${dsXuly.size() != 0}">
        <h3>Bạn đang có những vi phạm chưa được xử lý</h3>

        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Lý do</th>
                    <th>Hình thức xử lý</th>
                    <th>Ngày xử lý</th>
                    <th>Tiền phạt</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="vp : ${dsXuly}">
                    <td th:text="${vp.lydo}"></td>
                    <td th:text="${vp.hinhthuc_xuly.hinhthuc}"></td>
                    <td th:text="${vp.ngay_xuly}"></td>
                    <td th:text="${vp.tienphat != null ? vp.tienphat : 'Không có'}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>