<div class="box-infomation" th:fragment="component">

    <div class="information-div">
<!--        <div style="display: flex"><h1 style="margin-right: 10px">Xin chào</h1> <h1 th:text="${session.thanhvien.ten}"></h1></div>-->
        <h2 style="text-align: center; font-weight: bold">Thông tin cá nhân</h2>
        <span style="font-weight: bold">Mã số sinh viên:</span>
        <span th:text="${session.thanhvien.id}"></span><br>

        <span style="font-weight: bold">Tên:</span>
        <span th:text="${session.thanhvien.ten}"></span>
        <br>

        <span style="font-weight: bold">Số điện thoại:</span>
        <span th:text="${session.thanhvien.sodienthoai}"
        ></span><br>

        <span style="font-weight: bold">Email:</span>
        <span th:text="${session.thanhvien.email}"
        ></span><br>

        <span style="font-weight: bold">Khoa:</span>
        <span th:text="${session.thanhvien.tenKhoa}"></span><br>

        <span style="font-weight: bold">Ngành:</span>
        <span th:text="${session.thanhvien.tenNganh}"></span><br>

        <span style="font-weight: bold">Ngày tạo thành viên:</span>
        <span th:text="${session.thanhvien.created_date}"></span><br>

    </div>

    <div class="xuly-div" th:if="${dsXuly != null && dsXuly.size() != 0 }">
        <h3 style="text-align: center; font-weight: bold">Bạn đang có những vi phạm chưa được xử lý</h3>

        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Lý do</th>
                    <th>Hình thức xử lý</th>
                    <th>Ngày xử lý</th>
                    <th>Tiền phạt</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="vp : ${dsXuly}">
                    <td th:text="${vp.lydo}"></td>
                    <td th:text="${vp.hinhthuc_xuly.hinhthuc}"></td>
                    <td th:text="${vp.ngay_xuly}"></td>
                    <td th:text="${vp.tienphat != null ? vp.tienphat : 'Không có'}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>