<div th:fragment="component">
    <div class="container d-flex justify-content-center my-5 mb-5">
        <h1>Danh sách vi phạm</h1>
    </div>
    <div>
        <table class="table table-hover">
            <tr>
                <th>Lý do</th>
                <th>Ngày vi phạm</th>
                <th>Hình thức xử lý</th>
                <th>Trạng thái</th>
                <th>Tiền phạt</th>
                <th>Số ngày bị cấm</th>
            </tr>

            <tr th:each="vipham : ${dsXuly}">
                <td th:text="${vipham.lydo}"></td>
                <td th:text="${vipham.ngay_xuly}"></td>
                <td th:text="${vipham.hinhthuc_xuly.hinhthuc}"></td>
                <td th:text="${vipham.trangthai ? 'Đã xử lý' : 'Chưa xử lý'}"></td>
                <td th:text="${vipham.tienphat != null ? vipham.tienphat : 'Không có'}"></td>
                <td th:text="${vipham.hinhthuc_xuly.songay_ban != null ? vipham.hinhthuc_xuly.songay_ban : 'Không có'}"></td>
            </tr>

        </table>
    </div>
</div>