<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Document</title>
<!--    Thằng này dùng để đổi sau khi nhập mã-->
</head>
<body>
    <h2>Đổi mật khẩu mới</h2>

    <form th:action="@{/thanhvien/changeForgotPassword}" method="post">
        <input type="password" name="password" placeholder="Nhập mật khẩu mới">
        <input type="password" name="repassword" placeholder="Nhập lại mật khẩu mới">
        <span id="message"></span>
        <input type="submit" value="Đổi mật khẩu">
    </form>

    <script>
        $(document).ready(function () {
            $('form').submit(function (e) {
                e.preventDefault();
                var password = $('input[name="password"]').val();
                var repassword = $('input[name="repassword"]').val();
                var url = $(this).attr('action');
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {
                        password: password,
                        repassword: repassword
                    },
                    success: function (data) {
                        console.log(data);
                        if(data.status === 'failed') {
                            $('#message').html('<h4 style="color: red">' + data.message + '</h4>');
                        }
                        else if(data.status === 'success'){
                            $('#message').html('<h4 style="color: chartreuse">' + data.message + '</h4>');
                            window.location.href = '/thanhvien/login';
                        }
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });
        });
    </script>
</body>
</html>