<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Nhập mã xác thực đã được gửi đến email của bạn
    <form action="/thanhvien/verify" method="post">
        <input type="text" name="code" placeholder="Nhập mã xác thực">
        <input type="submit" value="Xác thực">
    </form>
</body>
</html>